<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinCalendar"
        tools:targetApi="31">
        <activity
            android:name=".ShareCalendar.ShareCalendarSetting"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.ShareScheduleEdit"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.shareScheduleEdit"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.ShareDetailSchedule"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.ShareCalendarScheduleAdd"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.ShareScheduleManagement"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.ShareCalendarMain"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.ShareCalendarCreate"
            android:exported="false" />
        <activity
            android:name=".ShareCalendar.ShareCalendarListPage"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarScheduleEdit"
            android:exported="false" />
        <activity
            android:name=".FriendCalendar.FriendDetailSchedule"
            android:exported="false" />
        <activity
            android:name=".FriendCalendar.FriendScheduleManagement"
            android:exported="false" />
        <activity
            android:name=".FriendCalendar.FriendCalendarMain"
            android:exported="false" />
        <activity
            android:name=".FriendList.Frd_management"
            android:exported="false" />
        <activity
            android:name=".my_page"
            android:exported="false" /> <!-- <activity -->
        <!-- android:name=".FriendList.Frdlist_main" -->
        <!-- android:exported="false" /> -->
        <!-- <activity -->
        <!-- android:name=".Navigation_Drawer.Navigation_Main" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".Calendar.Calendar_Detail_Schedule"
            android:exported="false" />
        <activity
            android:name=".Calendar.Calendar_Schedule_Add"
            android:exported="false" />
        <activity
            android:name=".Calendar.Calendar_Schedule_management"
            android:exported="false" />
        <activity
            android:name=".Calendar.CalendarMain"
            android:exported="false" />
        <activity
            android:name=".Sing_Up"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>